<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <form action="/otpVerify" method="post">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>OTP Verification</h3>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">

            <div class="numberContainer">
                <h3>code has been send to <%= phoneNumber %> </h3>
            </div>

            <div class="input-container d-flex flex-row justify-content-center mt-2">
                <input type="text" class="m-1 text-center form-control rounded" maxlength="1" name="otpfeild1" required>
                <input type="text" class="m-1 text-center form-control rounded" maxlength="1" name="otpfeild2" required>
                <input type="text" class="m-1 text-center form-control rounded" maxlength="1" name="otpfeild3" required>
                <input type="text" class="m-1 text-center form-control rounded" maxlength="1" name="otpfeild4" required>
                <input type="text" class="m-1 text-center form-control rounded" maxlength="1" name="otpfeild5" required>
                <input type="hidden" class="m-1 text-center form-control rounded" maxlength="1" name="mobileNumber"  value="<%= phoneNumber %>">
            </div>

           <div class="buttonContainer">
                <button type="submit" class="btn btn-success px-4 verify-btn">verify</button>
            </div>
            <div  class="textContainer">
                <small>
                    didn't get the otp
                    <a href="#" class="text-decoration-none">Resend</a>
                </small>
            </div>
        </div>

    </form>

  </body>


<style>
*{
  border-radius: 0px !important;
  font-family: "Poppins", sans-serif;
}



body 
{
  font-family:sans-serif; 
  background: -webkit-linear-gradient(to right, #155799, #159957);  
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}


h3{
    text-align: center;
}
.small{
    text-align: center;
}

form{
    width:35rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}

.headingsContainer{
    text-align: center;
}

.headingsContainer p{
    color: gray;
}
.mainContainer{
    padding: 16px;
}

.mainContainer .numberContainer{
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

.mainContainer .textContainer{
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}


.mainContainer .buttonContainer{
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

.div{
    align-items: center;
    justify-content: center;
}

.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}

.input-container input{
  width: 40px;
  height: 40px;
}

.form-control:focus{
  box-shadow: none !important;
  border: 1px solid #3366FF !important;
}

.verify-btn{
  border-radius: 20px !important;
  border: 0px !important;
  width: 140px;
  align-items: center;
  justify-content: center;
  background-color: #3366FF !important;
}
</style>

</html>