<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <form action="/createUser" method="post">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign Up</h3>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <br><br>

            <div id="fullname">
                <!-- First Name -->
                <div>
                  <label id="firstLabel1" for="fname">First Name</label>
                
                  <input type="text" id="fname" name="firstname" placeholder="e.g. Reggie"  required/>
                </div>
          
                <!-- Last Name -->
                <div>
                  <label id="lastLabel1" for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="e.g. Rocket" required/>
                </div>
            </div>

             <!-- Email -->
             <label for="email">Your email</label>
             <input type="text" placeholder="Enter email" name="email" required>

            <br><br>

            <div id="phoneNumber">
                <label for="phoneNumber">Your Contact</label>
                <br><br>
                <input type="tel" id="phone" placeholder="Phone Number" name="phoneNumber" required>
            </div>
            

            <br><br>

            <!-- Password -->
            <label for="password">Your password</label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <br><br>

             <!--Confirm Password -->
             <label for="confirmPassword">Your confirm password</label>
             <input type="password" placeholder="Enter Confirm Password" name="confirmPassword" required>

            <!-- Submit button -->
            <button type="submit">SignUp</button>

            <!-- Login link -->
            <p class="login">Already a member?  <a href="/login">Login here!</a></p>

        </div>
    </form>
</body>


<!-- --------------------------------Register Form StyleSheet------------------------>
<style>
    body 
  {
    font-family:sans-serif; 
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to right, #155799, #159957); 
    color:whitesmoke;
  }
  
  
  h1{
      text-align: center;
  }
  
  
  form{
      width:35rem;
      margin: auto;
      color:whitesmoke;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(11, 15, 13, 0.582);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      padding: 20px 25px;
  }
  
  input[type=text], input[type=password], [type=tel]{
      width: 100%;
      margin: 10px 0;
      border-radius: 5px;
      padding: 15px 18px;
      box-sizing: border-box;
    }
  
  button {
      background-color: #030804;
      color: white;
      padding: 14px 20px;
      border-radius: 5px;
      margin: 7px 0;
      width: 100%;
      font-size: 18px;
    }
  
  button:hover {
      opacity: 0.6;
      cursor: pointer;
  }
  
  .headingsContainer{
      text-align: center;
  }
  
  .headingsContainer p{
      color: gray;
  }
  .mainContainer{
      padding: 16px;
  }
  
  
  .subcontainer{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  
  .subcontainer a{
      font-size: 16px;
      margin-bottom: 12px;
  }
  
  span.forgotpsd a {
      float: right;
      color: whitesmoke;
      padding-top: 16px;
    }
  
  .forgotpsd a{
      color: rgb(74, 146, 235);
    }
    
  .forgotpsd a:link{
      text-decoration: none;
    }
  
    .login{
      color: white;
      text-align: center;
    }
    
    .login a{
      color: rgb(74, 146, 235);
    }
    
    .login a:link{
      text-decoration: none;
    }
  
    #contact{
        width: 100%;
    }

    #fullname {
        display: grid;
        grid-template-columns: auto auto;
    }

    #fullname > div {
        padding-left: 0%;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Media queries for the responsiveness of the page */
    @media screen and (max-width: 600px) {
      form{
        width: 25rem;
      }
    }
    
    @media screen and (max-width: 400px) {
      form{
        width: 20rem;
      }
    }
  
  </style>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
      utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
  </script>
</html>